// main: main.sass

.h__cta
	color: #F5F5F5
	font-size: 35px
	font-style: normal
	font-weight: 600
	line-height: 44px
	margin: 0 0 20px

.hero__content
	.h__hero
		line-height: 50px
		font-size: 40px
		font-weight: 600
		color: #fff
		margin-bottom: 10px
	.sub__hero
		font-weight: normal
		line-height: normal
		font-size: 24px
		color: rgba(255, 255, 255, 0.7)

.h__section
	color: $black
	font-weight: 600
	line-height: 35px
	font-size: 28px
	margin-bottom: 35px

.p__highlight
	font-weight: normal
	line-height: 33px
	font-size: 20px
	margin-bottom: 20px