// main: ../main.sass

header
	left: 0
	padding: 40px 0
	position: absolute
	top: 0
	width: 100%
	z-index: 10
	.container
		display: flex
		justify-content: space-between
	nav
		.hamburger
			display: none
			color: #fff
			@media(max-width: 767px)
				display: block
		ul
			list-style-type: none
			display: flex
			@media(max-width: 767px)
				display: block
				opacity: 0
				pointer-events: none
				background: #fff
				border-radius: 4px
				position: absolute
				right: 15px
				top: 25px
				padding: 15px 10px
			li
				padding: 0 17px
				&:last-of-type
					padding-right: 0
				@media(max-width: 767px)
					padding: 5px 20px
				a
					color: #fff
					text-decoration: none
					display: block
					position: relative
					@media(max-width: 767px)
						color: $lightBlack
					&:before
						content: ''
						width: 100%
						height: 2px
						display: block
						background: $blue
						position: absolute
						left: 0
						bottom: -5px
						transition: all 150ms ease-in-out
						opacity: 0
						transform: translateY(2px)
					&:hover
						&:before
							opacity: 1
							transform: translateY(0)
					&.nuxt-link-exact-active
						&:before
							opacity: 1
							transform: translateY(0)