// main: ../main.sass

.trabajo
	header nav ul li a:before
		background: $orange
	.banda
		@media(max-width: 767px)
			padding-top: 50px
			padding-bottom: 50px
			&.banda-last
				padding-top: 50px
				padding-bottom: 50px
			&.banda-first
				padding-bottom: 50px
				padding-top: 50px
	.hero
		height: auto
		padding: 300px 0 80px
		margin: 0
		.container
			display: block
		&__content
			padding: 0
	&__banner
		img
			display: block
			width: 100%
	.row
		display: flex
		@media(max-width: 767px)
			display: block
	.col-6
		width: 50%
		@media(max-width: 767px)
			width: 100%
		&.left
			padding-right: 200px
			@media(max-width: 1199px)
				padding-right: 150px
			@media(max-width: 991px)
				padding-right: 100px
			@media(max-width: 767px)
				padding-right: 0
				margin-bottom: 25px
	&__text
		&--h
			font-style: normal
			font-weight: 600
			line-height: 41px
			font-size: 32px
			color: $black
		&--p
			margin-bottom: 20px
			line-height: 27px
			&:last-of-type
				margin-bottom: 30px
			strong
				color: $black
			span
				display: block
				margin-bottom: 10px
			ul
				list-style-type: decimal
				padding-left: 35px
				li
					margin-bottom: 5px
		&--tasks
			list-style-type: none
			margin-top: 35px
			p
				font-weight: 600
				font-size: 20px
				color: $black
				margin-bottom: 15px
			li
				font-size: 20px
				border-bottom: 1px solid rgba(6, 26, 64, 0.4)
				padding-bottom: 10px
				&:not(:last-of-type)
					margin-bottom: 15px
	&__testimonio
		.container
			position: relative
			&:before
				content: ''
				height: 1px
				width: calc(100% - 30px)
				background: rgba(6, 26, 64, 0.1)
				position: absolute
				left: 15px
				bottom: 0
		article
			max-width: 490px
			margin: auto
			padding-bottom: 80px
			p
				font-size: 20px
				line-height: 31px
				margin-bottom: 30px
			figure
				display: flex
				align-items: center
				img
					display: block
					margin: 0
					border-radius: 50%
					width: 55px
				figcaption
					padding-left: 20px
					span, small
						display: block
						font-size: 16px
						line-height: 21px
					span
						color: $black

.trabajo
	&.enchufarte
		.col-6
			&.left
				padding-right: 180px
				@media(max-width: 1199px)
					padding-right: 150px
				@media(max-width: 991px)
					padding-right: 100px
				@media(max-width: 767px)
					padding-right: 0
					margin-bottom: 35px
	&.mru
		.col-6
			&.left
				padding-right: 70px
				@media(max-width: 1199px)
					padding-right: 100px
				@media(max-width: 991px)
					padding-right: 50px
				@media(max-width: 767px)
					padding-right: 0
					margin-bottom: 35px


